streamlit==1.33.0
spacy==3.7.4
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.4/en_core_web_sm-3.7.4-py3-none-any.whl
pandas==2.2.2
matplotlib==3.8.4
nltk==3.8.1
wordcloud==1.9.3
PyPDF2==3.0.1
python-docx==1.1.0
